algorillas.dev {
    # encode gzip
        
        # root * /usr/share/caddy/html
        # try_files {path} /index.html
        # file_server
    Coming Soon ...
}


www.algorillas.dev {
	redir https://algorillas.dev{uri}
}
